<header>
    <div class="header-container">
        <div class="header-container-start">
            <div class="header-container-start-title">
                <h2>Profeco</h2>
            </div>
            <div class="header-container-start-img">
                <img src="assets/images/gobierno.png" alt="Profeco">
            </div>
        </div>
    </div>
</header>
<main>
    <div class="login">
        <div class="login-container">
            <div class="card-login card" style="width: 18rem;">
                <div class="card-body">
                    <div class="row login-header">
                        <div class="col">
                            <h5 class="title card-title profeco-family">Iniciar Sesión</h5>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <form>
                                <div class="row">
                                    <div class="col input-form">
                                        <label class="text-body-secondary profeco-family" for="email">Correo</label>
                                        <input class="my-input profeco-family" name="email" type="email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col input-form">
                                        <label class="text-body-secondary profeco-family"
                                            for="password">Contraseña</label>
                                        <input class="my-input profeco-family" name="password" type="password">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="login-section">
                                <div class="row">
                                    <div class="col input-form">
                                        <button class="btn btn-primary profeco-family button-login"
                                            type="button">Iniciar sesión</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="register-section">
                                <div class="row">
                                    <div class="col input-form">
                                        <button class="btn btn-outline-primary profeco-family button-register" type="button">Registrarse</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="profeco-family description-context">Procuraduría Federal del Consumidor</p>
            <p class="profeco-family description-context">Teléfono del Consumidor 55 5568 8722 y 800 468 8722</p>
        </div>
    </div>
</main>