<app-header></app-header>
<ion-content>
    <ion-card *ngFor="let market of markets">
        <img [src]="market.urlImage" [alt]="market.name">
        <ion-card-title>
            <div class="header-title">
                <div>{{market.name}}</div>
                <ion-button mode="ios" id="popover-button-{{market.id}}" class="button-options" shape="round">
                    •••
                </ion-button>
                <ion-popover trigger="popover-button-{{market.id}}" [dismissOnSelect]="true">
                    <ng-template>
                        <ion-content>
                            <ion-list>
                                <ion-item button (click)="openReportMarket(market.id)">Reportar</ion-item>
                                <ion-item button>Lista de deseos</ion-item>
                            </ion-list>
                        </ion-content>
                    </ng-template>
                </ion-popover>
            </div>
        </ion-card-title>
        <ion-card-content>
            {{market.address}}
        </ion-card-content>
    </ion-card>
</ion-content>