.my-button {
  font-size: x-large;
  color: black;
  height: 50px;
  width: 50px;
  --border-radius: 50%;
}

.market-options {
  display: flex;
  justify-content: end;
}

ion-card {
    border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
