.header-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-options{
  --background: trasparent;
  --background-hover: trasparent;
  --background-activated: trasparent;
  --background-focused: trasparent;
  --color: black;
}