<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="products" href="/products">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="posts" href="/posts">
      <ion-icon name="copy"></ion-icon>
      <ion-label>Publicaciones</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="stores" href="/stores">
      <ion-icon name="storefront"></ion-icon>
      <ion-label>Tiendas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="wishlist" href="/wishlist">
      <ion-icon name="storefront"></ion-icon>
      <ion-label>Lista de deseos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>
