ion-tab-bar,
ion-tab-button {
  --background: var(--ion-color-profeco-secondary);
}

ion-tab-button {
  --color: white;
  --color-selected: var(--ion-color-profeco-primary);
  --ripple-color: var(--ion-color-profeco-primary);
}