<ion-header>
  <ion-toolbar>
    <ion-title>
<p>
  Notificaciones
</p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
      <ion-row>
        <ion-card>
          <ion-card-header>
            Titulo de notificacion
          </ion-card-header>
        </ion-card>
      </ion-row>
  </ion-grid>
</ion-content>
