ion-toolbar{
    --background: var(--ion-color-profeco-green); 
}

ion-title {
    font-family: serif;
    color: white;
    font-size: x-large;
    font-weight: lighter;
  }

  ion-icon{
    color: white;
  }