<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Precios en Tiendas</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content-info" *ngIf="product">
    <ion-card class="carta-producto">
      <img alt="Silhouette of mountains" src="{{product.imageUrl}}" />
      <ion-card-header>
        <ion-card-title>{{product.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{product.details}}
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-list>
        <ion-item *ngFor="let price of prices">
          <ion-thumbnail slot="start" *ngIf="price.imageUrl">
            <img alt="Silhouette of mountains" src={{price.imageUrl}} />
          </ion-thumbnail>
          <ion-label>{{price.marketName}}</ion-label>
          <ion-chip color="success">{{price.price| dineroFormato}}</ion-chip>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>