<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Precios en Tiendas</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="carta-producto">
    <img alt="Silhouette of mountains" src="{{producto.imagen}}" />
    <ion-card-header>
      <ion-card-title>{{producto.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{producto.detalles}}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let tienda of producto.tiendas">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src={{tienda.imagen}} />
        </ion-thumbnail>
        <ion-label>{{tienda.nombre}}</ion-label>
        <ion-chip color="success">{{tienda.precioProducto | dineroFormato}}</ion-chip>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>