<div class="modal">
    <div class="modal-info">
        <div class="modal-header">
            <div class="modal-header-start">
                <h2>Reportar tienda</h2>
            </div>
            <div class="modal-header-end">
                <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
            </div>
        </div>
        <form class="form-report-market" [formGroup]="reportForm">
            <div class="form-conteiner">
                <div class="row my-row two-columns">
                    <div class="col my-col">
                        <select class="form-select" aria-label="Default select example" formControlName="selectMarket" (change)="selectMarketChange($event)">
                            <option *ngIf="isReportEspecificMarket" [value]="marketSelected.id" selected>{{marketSelected.name}}</option>
                            <option *ngIf="!isReportEspecificMarket" value="0" selected>Ninguno</option>
                            <option *ngFor="let market of marketOptions" [value]="market.id">{{market.name}}</option>
                        </select>
                    </div>
                    <div class="col my-col">
                        <select class="form-select" aria-label="Default select example" formControlName="selectProduct">
                            <option *ngIf="!isReportEspecificMarket && !marketSelected" value="0">Ninguno</option>
                            <option *ngFor="let product of productsOptions" [value]="product.id">{{product.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>