<div class="modal">
    <div class="modal-info">
        <div class="modal-header">
            <div class="modal-header-start">
                <h2>Reportar tienda</h2>
            </div>
            <div class="modal-header-end">
                <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
            </div>
        </div>
        <form class="form-report-market" [formGroup]="reportForm">
            <div class="form-conteiner">
                <div class="row my-row two-columns">
                    <div class="col my-col">
                        <select class="form-select" aria-label="Default select example" [disabled]="true" formControlName="selectMarket">
                            <option *ngIf="marketSelected" [value]="marketSelected.id" selected>{{marketSelected.name}}</option>
                            <option *ngFor="let market of markets" [value]="market.id">{{market.name}}</option>
                        </select>
                        <div *ngIf="selectMarket.invalid && (selectMarket.dirty || selectMarket.touched)">
                            <div *ngIf="selectMarket.errors?.['required']">Name is required.</div>
                        </div>
                    </div>
                    <div class="col my-col">
                        <select class="form-select" aria-label="Default select example">
                            <option *ngIf="marketSelected" selected>Ninguno</option>
                            <option *ngFor="let product of marketSelected.products" [value]="product.id">{{product.name}}</option>
                        </select>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>