<ion-header>
  <ion-toolbar class="header">
    <div>
      <div class="header-title">
        <p>PROFECO</p>
      </div>
      <div class="header-img">
        <img src="/assets/imagenes/gobierno.png" alt="mexico">
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="login">
    <div class="login-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="title profeco-family">Iniciar sesión</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <form>
                  <div class="email input-form">
                    <label class="profeco-family" for="email">Correo</label>
                    <input class="my-input profeco-family" name="email" type="email">
                  </div>
                  <div class="password input-form">
                    <label class="profeco-family" for="password">Contraseña</label>
                    <input class="my-input profeco-family" name="password" type="password">
                  </div>
                </form>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button class="profeco-family" color="profeco-primary" expand="block" (click)="goToMain()">Iniciar sesión</ion-button>
              </ion-col>
            </ion-row>
            <hr>
            <ion-row>
              <ion-col>
                <ion-button class="profeco-family" color="profeco-secondary" expand="block" fill="clear" (click)="goToOnboarding()">Registrarse</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <p class="profeco-family description-context">Procuraduría Federal del Consumidor</p>
      <p class="profeco-family description-context">Teléfono del Consumidor 55 5568 8722 y 800 468 8722</p>
    </div>
  </div>
</ion-content>