.new{
    font-size: 30px;
    font-weight: bold;
    display: flex;  
}
.old{
    font-weight: bold;
    text-decoration: line-through;
    //font-size: 20px;
}
ion-card-title{
    font-weight: bold;
}
ion-card-subtitle{
    font-weight: bold;
}

.bold{
    font-weight: bold;
    font-size: 20px;
}
.icon{
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
}

ion-card-content{
    padding: 0px;
}