.new{
    color:green;
    font-size: 50px;
    font-weight: bold;
    display: flex;  
}
.old{
    color:red;
    font-weight: bold;
    text-decoration: line-through;
}
ion-card-title{
    font-weight: bold;
}
ion-card-subtitle{
    font-weight: bold;
}

.bold{
    font-weight: bold;
    font-size: 20px;
}