<ion-header>
    <ion-toolbar>
        <ion-title>Genera tu Reporte</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form [formGroup]="reportForm">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-select name="selectMarket" [disabled]="isEspecificReport"
                        [value]="defaultMarketOption">
                        <ion-select-option [value]="marketSelected.id">{{marketSelected.name}}</ion-select-option>
                        <ion-select-option *ngFor="let marketOption of marketsOptions" [value]="marketOption.id">{{marketOption.name}}</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-select name="selectProduct" [value]="defaultProductOption"
                        [disabled]="!marketSelected">
                        <ion-select-option [value]="notAvaliableOption">Sin seleccionar</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>