.my-select {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px 5px;
}

.my-text-area {
  border-bottom: 1px solid #ccc;
}

.errors-forms {
  color: red;
  padding: 10px 0px;
}

.button-create-report > ion-button {
  --background: var(--ion-color-profeco-primary);
  --background-activated: rgba(255, 255, 255, 0.1);
  font-weight: bold;
}
