<ion-header>
    <ion-toolbar>
        <ion-toolbar class="header">
            <div class="header-content">
                <div class="header-title">
                    <p>GENERAR REPORTE</p>
                </div>
                <div class="close-button" (click)="close()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="white">
                        <path d="M18 6 6 18M6 6l12 12" />
                    </svg>
                </div>
            </div>
        </ion-toolbar>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-select label="Tienda" label-placement="floating" fill="outline" [value]="getDeafaultValueForSelectMarket(isEspecificReport)"
                        [disabled]="isEspecificReport" (ionChange)="onChangeSelectMarket($event)">
                        <ion-select-option [value]="NO_AVAILABLE">{{NO_AVAILABLE}}</ion-select-option>
                        <ion-select-option *ngIf="marketSelected && isEspecificReport"
                            [value]="marketId">{{marketSelected.name}}</ion-select-option>
                        <ion-select-option *ngFor="let market of optionMarkets"
                            [value]="market.id">{{market.name}}</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="marketSelected" class="market-info">
                <ion-col class="market-info-details">
                    <img [src]="marketSelected.urlImg" [alt]="marketSelected.name">
                    <h2>
                        {{marketSelected.name}}
                    </h2>
                    <ion-label>
                        {{marketSelected.address}}
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-select label="Producto" label-placement="floating" fill="outline" [value]="NO_AVAILABLE" [disabled]="!marketSelected">
                        <ion-select-option [value]="NO_AVAILABLE">{{NO_AVAILABLE}}</ion-select-option>
                        <ion-select-option *ngFor="let product of optionProducts"
                            [value]="product.id">{{product.name}}</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="marketSelected && productSelected" class="product-info">
                <ion-col class="product-info-details">
                    <img [src]="productSelected.imageUrl" [alt]="productSelected.name">
                    <h2>{{productSelected.name}}</h2>
                    <ion-label>{{productSelected.details}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-textarea placeholder="Motivo de reporte"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>