.header > div {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.header-title > p {
  font-family: serif;
  color: white;
  font-size: x-large;
  font-weight: lighter;
}
.header-title {
  padding-left: 5%;
}
.header-title,
.header-img {
  padding: 0 1%;
}

.header-img > img {
  height: 35px;
  width: 35px;
}

.header {
  --background: var(--ion-color-profeco-green);
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.close-button {
  padding: 0px 10px;
}
