

.effect-market-item {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card {
    width: 18rem;
    margin: 10px;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.my-dropdown {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.my-dropdown-btn {
    background-color: transparent;
    font-size: larger;
    color: black;
    border: none;
}

.my-dropdown-item {
    cursor: pointer;
    padding: 5px 10px;
}

.my-dropdown-item:hover {
    background-color: var(--bs-light);
}

.my-dropdown-item-red {
    font-weight: bold;
    color: red;
}

.my-dropdown-item-blue {
    font-weight: bold;
    color: var(--bs-primary);
}