@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.header > div{
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.header-title > p {
  font-family: "Montserrat";
  color: white;
  font-size: x-large;
  font-weight: lighter;
}
.header-title {
  padding-left: 5%;
}
.header-title, .header-img {
  padding: 0 1%;
}

.header-img > img {
  height: 35px;
  width: 35px;
}

.header {
    --background: var(--ion-color-profeco-verde); 
}  