<header>
    <div class="header-container">
        <div class="header-container-start" (click)="goHome()">
            <div class="header-container-start-title">
                <h2>Profeco</h2>
            </div>
            <div class="header-container-start-img">
                <img src="assets/images/gobierno.png" alt="Profeco">
            </div>
        </div>
        <div class="header-container-end">
            <ul class="nav nav-pills">
                <li class="nav-item" *ngFor="let option of options">
                    <a class="nav-link" [class.active]="isActive(option.route)" href={{option.route}}>
                        <img src={{option.icon}} alt={{option.text}}>
                        {{option.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</header>