<ion-header>
  <ion-toolbar class="header">
    <div>
      <div class="header-title">
        <p>PROFECO</p>
      </div>
      <div class="header-img">
        <img src="/assets/imagenes/gobierno.png" alt="mexico">
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="onboarging">
    <div class="onboarging-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="title header-text profeco-family">Registrarse</ion-card-title>
          <ion-card-subtitle class="subtitle header-text profeco-family">Paso {{onboardingPage}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <form [formGroup]="personalInfoForm" class="personal-info" *ngIf="onboardingPage===1">
                  <div>
                    <div class="name input-form">
                      <label class="profeco-family" for="name">Nombres</label>
                      <input formControlName="name" class="my-input profeco-family" name="name" type="text">
                      <div class="input-errors" *ngIf="name.invalid && (name.dirty || name.touched)">
                        <div *ngIf="name.errors?.['required']">El nombre está vacío</div>
                      </div>
                    </div>
                    <div class="lastname input-form">
                      <label class="profeco-family" for="lastname">Apellidos</label>
                      <input formControlName="lastName" class="my-input profeco-family" name="lastname" type="text">
                      <div class="input-errors" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                        <div *ngIf="lastName.errors?.['required']">El apellido está vacío</div>
                      </div>
                    </div>
                    <div class="curp input-form">
                      <label class="profeco-family" for="curp">CURP</label>
                      <input formControlName="curp" class="my-input profeco-family" name="curp" type="text"
                        maxlength="18">
                      <div class="input-errors" *ngIf="curp.invalid && (curp.dirty || curp.touched)">
                        <div *ngIf="curp.errors?.['required']">La CURP está vacía</div>
                        <div *ngIf="curp.errors?.['minlength'] || curp.errors?.['maxlength']">La CURP debe tener 18
                          caracteres</div>
                        <div *ngIf="curp.errors?.['invalidCURP']">La CURP no es válida</div>
                      </div>
                    </div>
                  </div>
                </form>
                <form [formGroup]="profileInfoForm" class="profile-info" *ngIf="onboardingPage===2">
                  <div class="email input-form">
                    <label class="profeco-family" for="email">Correo</label>
                    <input formControlName="email" class="my-input profeco-family" name="email" type="email">
                    <div class="input-errors" *ngIf="email.invalid && (email.dirty || email.touched)">
                      <div *ngIf="email.errors?.['required']">El correo está vacío</div>
                      <div *ngIf="email.errors?.['email']">El correo es incorrecto</div>
                    </div>
                  </div>
                  <div class="password input-form">
                    <label class="profeco-family" for="password">Contraseña</label>
                    <input formControlName="password" class="my-input profeco-family" name="password" type="password">
                    <div class="input-errors" *ngIf="password.invalid && (password.dirty || password.touched)">
                      <div *ngIf="password.errors?.['required']">La contraseña está vacía</div>
                      <div *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 6 caractéres</div>
                    </div>
                  </div>
                  <div class="confirm-password input-form">
                    <label class="profeco-family" for="confirm-password">Confirmar Contraseña</label>
                    <input formControlName="confirmPassword" class="my-input profeco-family" name="confirm-password"
                      type="password">
                    <div class="input-errors"
                      *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                      <div *ngIf="confirmPassword.errors?.['mismatch']">Las contraseñas deben coincidir</div>
                    </div>
                  </div>
                </form>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="onboardingPage!==1">
                <ion-button class="profeco-family" color="profeco-secondary" expand="block"
                  (click)="previousPage()">Volver</ion-button>
              </ion-col>
              <ion-col>
                <ion-button class="profeco-family" color="profeco-primary" expand="block" (click)="nextPage()"
                  *ngIf="onboardingPage!==2">Siguiente</ion-button>
                <ion-button class="profeco-family" color="profeco-primary" expand="block" (click)="confirm()"
                  *ngIf="onboardingPage===2">Confirmar</ion-button>
              </ion-col>
            </ion-row>
            <hr>
            <ion-row>
              <ion-col>
                <ion-button class="profeco-family" color="profeco-secondary" expand="block" fill="clear"
                  (click)="goToLogin()">Iniciar Sesión</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <p class="profeco-family description-context">Procuraduría Federal del Consumidor</p>
      <p class="profeco-family description-context">Teléfono del Consumidor 55 5568 8722 y 800 468 8722</p>
    </div>
  </div>
</ion-content>