<ion-header mode="md">
    <ion-toolbar>
        <ion-title> Generar Reporte </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <form [formGroup]="reportForm">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-select formControlName="selectMarket" (ionChange)="onSelectMarketChange($event)">
                                <ion-select-option *ngIf="isEspecificReport"
                                    [value]="marketId">{{marketSelected.name}}</ion-select-option>
                                <ion-select-option [value]="NO_AVAILABLE">Ninguno</ion-select-option>
                                <ion-select-option *ngFor="let market of optionMarkets"
                                    [value]="market.id">{{market.name}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <div *ngIf="selectMarket.invalid && (selectMarket.dirty || selectMarket.touched)">
                            <ion-item class="errors-forms" lines="none"
                                *ngIf="selectMarket.errors?.['mustNotSelectNoOption']">
                                No se puede seleccionar la opción "Ninguno".
                            </ion-item>
                        </div>
                    </ion-list>
                    <div *ngIf="marketSelected" class="market-info">
                        <ion-item>
                            <ion-label>
                                <div class="market-info-name">
                                    <h1>{{marketSelected.name}}</h1>
                                </div>
                                <div class="market-info-address">
                                    <p>{{marketSelected.address}}</p>
                                </div>
                                <div class="market-info-img">
                                    <img [src]="marketSelected.urlImg" [alt]="marketSelected.name">
                                </div>
                            </ion-label>
                        </ion-item>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-select formControlName="selectProduct" (ionChange)="onSelectProductChange($event)">
                                <ion-select-option [value]="NO_AVAILABLE">Ninguno</ion-select-option>
                                <ion-select-option *ngFor="let product of optionProducts"
                                    [value]="product.id">{{product.name}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <div *ngIf="selectProduct.invalid && (selectProduct.dirty || selectProduct.touched)">
                            <ion-item class="errors-forms" lines="none"
                                *ngIf="selectProduct.errors?.['mustNotSelectNoOption']">
                                No se puede seleccionar la opción "Ninguno".
                            </ion-item>
                        </div>
                    </ion-list>
                    <div *ngIf="productSelected" class="product-info">
                        <ion-item lines="none">
                            <ion-label>
                                <div class="product-info-name">
                                    <h1>{{productSelected.name}}</h1>
                                </div>
                                <div class="product-info-address">
                                    <p>{{productSelected.detail}}</p>
                                </div>
                                <div class="product-info-img">
                                    <img [src]="productSelected.urlImg" [alt]="productSelected.name">
                                </div>
                            </ion-label>
                        </ion-item>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-textarea formControlName="reportContent" label="Reporte"
                                labelPlacement="floating"></ion-textarea>
                        </ion-item>
                        <div *ngIf="reportContent.invalid && (reportContent.dirty || reportContent.touched)">
                            <ion-item class="errors-forms" lines="none" *ngIf="reportContent.errors?.['required']">
                                El reporte es requerido.
                            </ion-item>
                            <ion-item class="errors-forms" lines="none" *ngIf="reportContent.errors?.['noEmptyReportContent'] || reportContent.errors?.['minlength']">
                                El reporte debe tener al menos 45 caracteres.
                            </ion-item>
                        </div>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <div class="button-create-report">
        <ion-button (click)="sendReport()" expand="block">Enviar</ion-button>
    </div>
</ion-content>