<app-header-modal title='{{title}}'></app-header-modal>
<ion-content>
  <div class="content-info" *ngIf="product">
    <ion-card class="carta-producto">
      <img alt="Silhouette of mountains" src="{{product.urlImg}}" />
      <ion-card-header>
        <ion-card-title>{{product.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{product.details}}
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-list>
        <ion-item *ngFor="let market of markets">
          <ion-thumbnail slot="start" *ngIf="market.urlImg">
            <img alt="Silhouette of mountains" src={{market.urlImg}} />
          </ion-thumbnail>
          <ion-label>{{market.name}}</ion-label>
          <ion-chip color="success">{{market.price| moneyFormatter}}</ion-chip>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>